
@{
    ViewBag.Title = "Index";
}

﻿<h2>Action Result</h2>
<hr />
<ul>
    <li><h5>Append <span class="text-primary">/ContentResult</span> in current URL to view output of ContentResult.</h5><hr /></li>
    <li><h5>Append <span class="text-primary">/FileContentResult</span> in current URL to view output of FileContentResult.</h5><hr /></li>
    <li><h5>Append <span class="text-primary">/EmptyResult</span> in current URL to view output of EmptyResult.</h5><hr /></li>
    <li><h5>Append <span class="text-primary">/JavaScriptResult</span> in current URL to view output of JavaScriptResult.</h5><hr /></li>
    <li><h5>Append <span class="text-primary">/JsonResult</span> in current URL to view output of JsonResult.</h5></li>
</ul>

